@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;600&family=IBM+Plex+Sans+KR:wght@100;200;300;400;500&family=Zilla+Slab:wght@300;400;500;600;700&display=swap');


body {
    width: 1980px;
    margin: auto;
    color: #515151;
}

#header {
    display: flex;
    justify-content: space-between;
    position: absolute;
    margin: 30px 100px;
    width: 100%;
}

h1 {
    font-family: 'Zilla Slab', serif;
    font-weight: 400;
    margin-left: 35px;
}

#nav {
    display: flex;
    align-items: center;
}

#nav ul {
    display: flex;
    flex-direction: row;
    margin-left: -480px;
}

#nav ul li {
    margin-right: 30px;
    font-size: 15px;
    letter-spacing: -1px;
}

.nav_icon {
    display: flex;
    align-items: center;
    margin-right: 230px;
}

.nav_icon img {
    width: 20PX;
    margin-right: 15px;
}

.top_hr {
    position: relative;
    top: 135px;
    opacity: 30%;
}

.content {
    margin-top: 200px;
}

.profile_section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 200px 50px 0 140px;
}

.profile_left {
    padding-right: 50px;
}

.hr {
    height: 600px;
    border-right: 1px solid #d7d7d7;
    margin-left: -455px;
}

.profile_left ul li {
    font-size: 15px;
    margin-bottom: 7px;
}

.profile_left ul li:hover {
    font-weight: 500;
    cursor: pointer;
}

.profile_left ul li:nth-child(5) {
    margin-top: 20px;
    opacity: 50%;
}

.profile_right {
    margin-right: 430px;
}

.profile_right div {
    margin: 10px 0;
}

.profile_right label {
    font-size: 12px;
    opacity: 50%;
    display: block;
    padding-bottom: 6px;
}

.profile_right input {
    width: 300px;
    font-size: 12px;
    border: 1px solid #515151;
    padding: 15px;
    border-radius: 18px;
    opacity: 30%;
}

button {
    width: 330px;
    font-size: 12px;
    background-color: #35B8E1;
    color: #fff;
    padding: 15px;
    margin-top: 10px;
    border-radius: 20px;
}

button:hover {
    background-color: #08a3d2;
}

#footer {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 50px;
    text-align: center;
    font-size: 13px;
    padding-bottom: 40px;
    opacity: 50%;
}

.bottom_hr {
    margin-bottom: 50px;
    opacity: 30%;
}