@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;600&family=IBM+Plex+Sans+KR:wght@100;200;300;400;500&family=Zilla+Slab:wght@300;400;500;600;700&display=swap');


body {
    width: 1980px;
    margin: auto;
    color: #515151;
}

#header {
    display: flex;
    justify-content: space-between;
    position: absolute;
    margin: 30px 100px;
    width: 100%;
}

h1 {
    font-family: 'Zilla Slab', serif;
    font-weight: 400;
    margin-left: 35px;
}

#nav {
    display: flex;
    align-items: center;
}

#nav ul {
    display: flex;
    flex-direction: row;
    margin-left: -480px;
}

#nav ul li {
    margin-right: 30px;
    font-size: 15px;
    letter-spacing: -1px;
}

.nav_icon {
    display: flex;
    align-items: center;
    margin-right: 230px;
}

.nav_icon img {
    width: 20PX;
    margin-right: 15px;
}

.top_hr {
    position: relative;
    top: 135px;
    opacity: 30%;
}

.content {
    margin-top: 200px;
}

.session_section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 200px 50px 0 140px;
}

.mylike_left {
    padding-right: 10px;
}

.hr {
    height: 600px;
    border-right: 1px solid #d7d7d7;
    margin-left: 30px;
}

.mylike_left ul li {
    font-size: 15px;
    margin-bottom: 7px;
}

.mylike_left ul li:hover {
    font-weight: 500;
    cursor: pointer;
}

.mylike_left ul li:nth-child(5) {
    margin-top: 20px;
    opacity: 50%;
}

.session_right {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 50px;
}

.session_article {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

.session_article div h5,
p {
    margin: auto;
    font-size: 13px;
    margin-top: 3px;
    opacity: 50%;
}

.session_article p {
    margin-bottom: 20px;
}

.session_text {
    width: 40%;
    border-bottom: 1px solid #d7d7d7;
}

.session_article div {
    margin: 10px 0;
}

.session_article label {
    font-size: 12px;
    opacity: 50%;
    display: block;
    padding-bottom: 6px;
    margin-top: 10px;
}

.session_article input {
    width: 300px;
    font-size: 11px;
    border: 1px solid #515151;
    padding: 15px;
    border-radius: 18px;
    opacity: 30%;
}

.session_article button {
    width: 330px;
    font-size: 12px;
    background-color: #FF774D;
    color: #fff;
    padding: 15px;
    border-radius: 20px;
}

.session_article button:hover {
    background-color: #f86437;
}

#footer {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 80px;
    text-align: center;
    font-size: 13px;
    padding-bottom: 40px;
    opacity: 50%;
}

.bottom_hr {
    margin-bottom: 50px;
    opacity: 30%;
}